    /* styling for navigation starts*/
    
    .header {
        color: white;
        padding: 2em 3em;
    }
    
    .header>nav>ul {
        display: flex;
        align-items: center;
        margin-bottom: 4em;
        flex-wrap: wrap;
        text-align: center;
        min-width: 200px;
    }
    
    .header>nav>ul>li {
        list-style: none;
        padding: 0 2em;
        height: 40px;
        align-self: center;
    }
    
    .header>nav>ul>li:nth-of-type(6) {
        flex: 1;
        box-sizing: border-box;
    }
    
    .header>nav>ul>button {
        background-color: #FF4820;
        height: 58px;
        width: 100px;
        color: white;
        border-radius: 5px;
        font-size: 1em;
        outline: none;
        border: none;
    }
    
    .header>nav>ul>li>a,
    .header>nav>ul>button>a {
        color: white;
        text-decoration: none;
    }
    
    .mobile_design {
        display: none;
    }
    
    @keyframes scale_up {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    
    @media (max-width: 780px) {
        .anime {
            flex-direction: column;
            flex-wrap: nowrap;
            animation-name: scale_up;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: backwards;
            animation-iteration-count: 1;
            margin-top: 2em;
            padding: 2em;
            justify-content: center;
            background-color: red;
            gap: 1em;
        }
        .header>nav>ul>li:first-child {
            display: none;
        }
        .header>nav>ul>li:nth-of-type(6) {
            flex: 0;
        }
        .mobile_design {
            display: flex;
            justify-content: space-between;
            list-style: none;
            min-width: 280px
        }
        .mobile_design>button {
            background-color: #040C18;
            border: none;
            outline: none;
            color: white;
            width: 50px;
            font-size: 30px;
        }
        .header>nav>ul:first-child {
            display: none;
            align-items: center;
            margin-bottom: 4em;
            flex-wrap: wrap;
            text-align: center;
        }
        @keyframes scale_up {
            from {
                transform: scale(0);
            }
            to {
                transform: scale(1);
            }
        }
    }
    
    @media (min-width:780px) and (max-width: 890px) {
        .header>nav>ul>li:nth-of-type(6) {
            flex: 0;
        }
    }
    /* styling for navigation ends*/